# ignore vscode settings
.vscode/

# ignore pycache
**/__pycache__/**

# ignore secrets files
**/secrets*

# ignore testing and coverage files
eup/**
.coverage
htmlcov/**

# ignore log files
**/*.log

# ignore Extron certification and credential files
**/*-certification.dat
**/*-credential.dat